fastapi
uvicorn
sentence-transformers
scikit-learn
numpy
pdfplumber
joblib
pandas
numpy
pandas
scikit-learn
xgboost
lightgbm
tensorflow
torch
transformers
spacy
nltk
pdfminer.six
PyPDF2
docx2txt
rapidfuzz
SpeechRecognition
pyaudio
sounddevice
gTTS
pyttsx3
openai-whisper
vosk
matplotlib
seaborn
plotly
flask
